
<ion-header>
  <ion-navbar>
    <ion-title>Connection</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <button ion-button block (click)="startScanning()">scan</button>
    <ion-list-header>
      Paired Devices
    </ion-list-header>
    <ion-item *ngFor="let device of pairedDevices" (click)="Initiate(device.address)">
      {{device.name}}
    </ion-item>
    <ion-list-header>
      availlable Devices
    </ion-list-header>
    <ion-item *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
     <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
     <button ion-button block (click)="disconnect()">Disconnect</button>
     {{measure1}} {{measure2}}
</ion-content>
